:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fundo-azul: #EAF2FD;
   --color-caixas: #FBFBFB;
   --azul-botoes: #2A7AE4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	height: 10vh;
	margin: 0px 153px;
}

section header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	color: var(--color-titulos);
}

nav ul.menu__list {
	display: flex;
	justify-content: space-between;
	width: 750px;
	font-size: 16px;
}

.menu__list__item a:hover {
	font-size: 18px;
	font-weight: bold;
}

header img {
	margin-right: 16px;
}

section.title{
	margin: 32px 0px;
}

div.title__container {
	width: 800px;
}

/*titulo principal*/
div.title__container h2 {
	font-size: 56px;
	font-weight: 700;
	line-height: 50px; /*espacamento entre linhas*/
}

div.title__div {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: row-reverse;
}

section.title img.title__profile {
	width: 230px;
    height: 310px;
    border-radius: 50%;
}

section.title div.title__div div.title__container h3 {
	font-size: 17px;
	line-height: 23px;
	width: 600px;
}

section.title div.title__div div.title__container h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
}

section.title div.title__div div.title__container ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
	font-size: 16px;
	width: 500px;
	cursor: pointer;
}

section.title div.title__div div.title__container ul li:hover {
	font-size: 18px;
	font-weight: bold;
}


/* About "Sobre Mim"*/
section.about {
	padding: 62px 164px;
	background-color: var(--color-fundo-azul);
}

section.about h3 {
	font-size: 32px;
}

section.about div.about__container {
	width: 800px;
}

section.about div.about__container p {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
}

/*alinhando titulo de todas as sessoes*/
.section__title {
	font-size: 22px;
	text-align: center;
}


/* Skills*/
section.skills {
	padding: 64px 100px;
}

section.skills div.skills__line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

section.skills div.skills__line div.skills__box {
	background-color: var(--color-caixas);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
	margin: 23px 15px 23px 8px;
	width: 150px;
	height: 160px;
}

.skills__box ul {
	margin: 0;
	padding: 0;
}


/* Hobbies*/
section.hobbies{
    padding: 64px 100px;
}

section.hobbies div.hobbies__line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

section.hobbies div.hobbies__line div.hobbies__box {
	background-color: var(--color-caixas);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
	margin: 23px 15px 23px 8px;
	width: 150px;
	height: 160px;
}

.hobbies__box ul {
	margin: 0;
	padding: 0;
}


/* Experiência Acadêmica*/
section.academic {
	padding: 64px 0px;
	background-color: var(--color-fundo-azul);
}

section.academic div.academic__courses {
	display: flex;
	justify-content: center;
}

section.academic div.academic__courses__box {
	width: 26.5rem;
	margin: 0 1rem;
}

div.academic__courses__box ul {
	margin: 0;
	padding: 0;
}

div.academic__courses__box ul li {
	padding: 0;
	margin: 32px;
}

.academic__courses__item__img {
    width: 368px;
    height: 286px;
    background-color: var(--color-caixas);
    display: flex;
    justify-content: center;
    align-items: center;

}

div.academic__courses__box ul li img {
	width: auto;
	height: auto;
}

#cc50 {
	width: 75%;
	height: 75%;
}

/* Experiência Profissional*/
section.experience{
	padding: 5px 100px
}

.experiencie__box {
	display: flex;
	flex-direction: row;
}

#experiencie__box__01 {
	margin-bottom: 55px;
	margin-left: 150px;
}

#experiencie__box__02 {
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-right: 150px;
}

.experience__img {
	height: 406px;
	width: 752px;
	left: 10px;
	top: 10px;
	border-radius: 0px;
}

.experience__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 26px;
}

#experience__info__02 {
align-items: flex-start;
margin-left: 150px;
}

.experience__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;	
	font-size: 22px;
	color: var(--color-titulos);
}

.experience__text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: var(--color-titulos);
}

.experiencia__botao--repo {
	width: 105px;
	height: 51px;
	left: 16px;
	top: 16px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--azul-botoes);
	margin-right: 15px;
	border: 1px solid var(--azul-botoes);
	cursor: pointer;
}

.experiencia__botao--demo {
	width: 105px;
	height: 51px;
	left: 16px;
	top: 16px;
	background: var(--azul-botoes);
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

/*Contato*/

.formcontato__contacto {
	display: flex;
	padding: 130px 150px 65px 150px;
	background-color: var(--color-fundo-azul);
}

.formcontato__text {
	margin-left: 16px;
	display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.formcontato__title {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: var(--color-titulos);
	margin: 0;
}

.formcontato__subtext {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-titulos);
	margin: 0;
}

.formcontato__input {
	width: 100%;
	height: 56px;
	background: #FFFFFF;
	border-radius: 4px;
	border: none;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #A2A2A2;
}

.formcontato__textarea {
	width: 100%;
	height: 133px;
	border-radius: 4px;
	border: none;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #A2A2A2;
}

.formcontato__botao {
	width: 165px;
	height: 51px;
	background: var(--azul-botoes);
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

/*footeer*/
.footer {
	display: flex;
    width: 100%;
    height: 102px;
    background: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-titulos);
    text-align: center;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.footer__rodape__p {
	margin: 0;
}

